/output/
/build/artifacts/
ion/src/simulator/android/.gradle/
.gradle/
.venv/
__pycache__
node_modules/
/.cache/
/compile_commands.json
.clangd
.DS_Store
/compare_crc_output/
/screenshot_each_step/
.vscode/
.devcontainer/
