[submodule "ion/src/device/epsilon-core"]
	path = ion/src/device/epsilon-core
	url = git@github.com:numworks/epsilon-core.git
[submodule "scandium/src/epsilon-internal"]
	path = scandium/src/epsilon-internal
	url = git@github.com:Numworks/epsilon-internal.git
