name: Web Build
on:
  workflow_dispatch:
    inputs:
      debug:
        type: boolean
        default: false

env:
  MAKEFLAGS: -j32
  DEBUG: ${{ fromJSON(github.event.inputs.debug) && '1' || '0' }}

jobs:
  build:
    runs-on: ${{ fromJSON(vars.EPSILON_RUNNER_LABELS) }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Read Emscripten version
        run: echo "EMSDK_VERSION=$(cat .emsdk-version)" >> $GITHUB_ENV
      - name: Download emscripten
        uses: numworks/setup-emscripten@latest
        with:
          sdk: ${{ env.EMSDK_VERSION }}
      - name: Setup
        run: build/setup.sh --only-simulator
      - name: Build
        run: make DEBUG=$DEBUG PLATFORM=web epsilon.html htmlpack.zip
      - name: Upload epsilon.html
        uses: actions/upload-artifact@v4
        with:
          name: epsilon.html
          path: output/${{ fromJSON(github.event.inputs.debug) && 'debug' || 'release' }}/web/epsilon.html
          retention-days: 7
      - name: Upload htmlpack.zip
        uses: actions/upload-artifact@v4
        with:
          name: htmlpack.zip
          path: output/${{ fromJSON(github.event.inputs.debug) && 'debug' || 'release' }}/web/htmlpack.zip
          retention-days: 7
