name: Android Build
on:
  workflow_dispatch:
    inputs:
      debug:
       type: boolean
       default: false

env:
  MAKEFLAGS: ${{ vars.MAKEFLAGS }}
  DEBUG: ${{ fromJSON(github.event.inputs.debug) && '1' || '0' }}
  OUTPUT_PATH: output/${{ fromJSON(github.event.inputs.debug) && 'debug' || 'release' }}/simulator/android

jobs:
  build:
    runs-on: ${{ fromJSON(vars.EPSILON_RUNNER_LABELS) }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          token: ${{ secrets.PAT || secrets.GITHUB_TOKEN }}
          submodules: ${{ secrets.PAT != null }}
      - name: Setup
        run: build/setup.sh --only-simulator
      - name: Build
        run: make DEBUG=$DEBUG PLATFORM=simulator TARGET=android epsilon.apk
      - name: Optimize ()
        # Optimize twice since first try will fail.
        run: $ANDROID_HOME/build-tools/29.0.2/zipalign -v -p 4 $OUTPUT_PATH/epsilon.apk $OUTPUT_PATH/epsilon_temp.apk ; $ANDROID_HOME/build-tools/29.0.2/zipalign -v -p 4 $OUTPUT_PATH/epsilon_temp.apk $OUTPUT_PATH/epsilon_optimized.apk
        # Delete temporary files.
      - run: rm $OUTPUT_PATH/epsilon_temp.apk $OUTPUT_PATH/epsilon.apk
      - name: Upload apk
        uses: actions/upload-artifact@v4
        with:
          name: unsigned-epsilon-android.apk
          path: $OUTPUT_PATH/epsilon_optimized.apk
          retention-days: 7
      - name: Upload debug symbols
        uses: actions/upload-artifact@v4
        with:
          name: android-debug-symbols.zip
          path: $OUTPUT_PATH/app/outputs/native-debug-symbols/release/native-debug-symbols.zip
          retention-days: 7
