name: Device build
on:
  workflow_dispatch:
    inputs:
      beta:
        type: boolean
        default: false

env:
  MAKEFLAGS: -j32

jobs:
  build:
    runs-on: ${{ fromJSON(vars.EPSILON_RUNNER_LABELS) }}
    steps:
      - name: Download toolchain
        uses: numworks/setup-arm-toolchain@latest
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup
        run: build/setup.sh
      # Not using matrix strategy to avoid multiplying setups and uploads.
      - name: Build n0110
        run: make MODEL=n0110 userland.A.onboarding.dfu
      - run: make MODEL=n0110 userland.A.onboarding.allow3rdparty.dfu
      - name: Build n0115
        run: make MODEL=n0115 userland.A.onboarding.dfu
      - run: make MODEL=n0115 userland.A.onboarding.allow3rdparty.dfu
      - name: Build n0120
        run: make MODEL=n0120 EMBED_EXTRA_DATA=1 userland.A.onboarding.dfu
      - run: make MODEL=n0120 EMBED_EXTRA_DATA=1 userland.A.onboarding.allow3rdparty.dfu
      - name: Upload
        uses: actions/upload-artifact@v4
        with:
          name: unsigned-device-builds
          path: output/release/*/epsilon*dfu
          retention-days: 7
