name: Continuous Integration

on:
  # Running CI on every push would be better, but ci performances are limited for now.
  # push:
  #   branches: [ master, 'version-*' ]
  pull_request:
    paths-ignore:
      - '**/*.md'
      - 'poincare/doc/**'
      - 'tests/**'
      - 'scandium'

  workflow_dispatch:
    inputs:
      device:
       type: boolean
       default: 'true'
      android:
       type: boolean
       default: 'true'
      windows:
       type: boolean
       default: 'true'
      macos:
       type: boolean
       default: 'true'
      ios:
       type: boolean
       default: 'true'
      web:
       type: boolean
       default: 'true'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  MAKEFLAGS: ${{ vars.MAKEFLAGS_CACHED }}
  CCACHE_DIR: ${{ vars.CCACHE_DIR }}

jobs:
  android:
    runs-on: ubuntu-latest
    if: ${{ (vars.ADVANCED_JOBS || github.event.inputs.android == 'true') }}
    steps:
      - run: $ANDROID_HOME/cmdline-tools/latest/bin/sdkmanager "ndk;22.1.7171670"
      - uses: actions/checkout@v4
        with:
          token: ${{ secrets.PAT || secrets.GITHUB_TOKEN }}
          submodules: ${{ secrets.PAT != null }}
      - run: build/setup.sh --only-simulator
      - run: make PLATFORM=simulator TARGET=android ASSERTIONS=1 test.apk
      - run: make PLATFORM=simulator TARGET=android ASSERTIONS=1 epsilon.apk
      - uses: actions/upload-artifact@master
        with:
          name: epsilon-android.apk
          path: output/debug/optimized/android/epsilon.apk
  device:
    runs-on: ${{ fromJSON(vars.EPSILON_CACHED_RUNNER_LABELS) }}
    if : ${{ (vars.ADVANCED_JOBS || github.event.inputs.device == 'true') }}
    strategy:
      matrix:
        model: [n0110, n0115, n0120]
    steps:
      - uses: actions/checkout@v4
        with:
          token: ${{ secrets.PAT || secrets.GITHUB_TOKEN }}
          submodules: ${{ secrets.PAT != null }}

      - name: Build container and define DOCKER_RUN
        uses: ./.github/actions/docker-builder

      - name: Check for epsilon-core
        id: epsilon-core
        run: "[[ -e ion/src/device/epsilon-core/.gitignore ]]"
        continue-on-error: true
      - name: Disable epsilon-core submodule
        if: ${{ steps.epsilon-core.outcome == 'success' }}
        run: mv ion/src/device/epsilon-core ion/src/device/epsilon-core-disable
      - name: Build userlands
        # Since both slots have the exact same amount of Flash reserved, it is pointless to build both the A and B elfs for every variant.
        # As an exception,  because we'll build epsilon.dfu that on both userland.A.elf and userland.B.elf, we still build those here
        # TODO: It is also probably useless to build so many variants
        run: $DOCKER_RUN "make MODEL=${{ matrix.model }} userland.A.elf userland.B.elf userland.allow3rdparty.A.elf userland.onboarding.A.elf userland.onboarding.allow3rdparty.A.elf userland.onboarding.update.A.elf userland.onboarding.beta.A.elf userland.onboarding.beta.allow3rdparty.A.elf"
      - name: Restore epsilon-core submodule
        if: ${{ steps.epsilon-core.outcome == 'success' }}
        run: mv ion/src/device/epsilon-core-disable ion/src/device/epsilon-core
      - if: ${{ steps.epsilon-core.outcome == 'success' }}
        run: $DOCKER_RUN "make MODEL=${{ matrix.model }} epsilon.dfu"
      - if: ${{ steps.epsilon-core.outcome == 'success' }}
        run: $DOCKER_RUN "make MODEL=${{ matrix.model }} flasher.dfu"
      - if: ${{ steps.epsilon-core.outcome == 'success' }}
        run: $DOCKER_RUN "make MODEL=${{ matrix.model }} bench.ram.dfu"
  windows:
    runs-on: windows-latest
    if: ${{ (vars.ADVANCED_JOBS || github.event.inputs.windows == 'true') }}
    defaults:
       run:
         shell: msys2 {0}
    steps:
      - uses: msys2/setup-msys2@v2
        with:
          update: true
          install: >-
            git
            mingw-w64-x86_64-arm-none-eabi-gcc
      - uses: actions/checkout@v4
        with:
          token: ${{ secrets.PAT || secrets.GITHUB_TOKEN }}
          submodules: ${{ secrets.PAT != null }}
      - run: build/setup.sh
      - run: make PLATFORM=simulator ASSERTIONS=1 epsilon.exe
      - run: make PLATFORM=simulator ASSERTIONS=1 test.exe
      - run: ./output/debug/optimized/windows/test.exe --headless --limit-stack-usage
      - run: make -j8 userland.A.elf
      - uses: actions/upload-artifact@v4
        with:
          name: epsilon-windows.exe
          path: output/debug/optimized/windows/epsilon.exe
  web:
    runs-on: ${{ fromJSON(vars.EPSILON_CACHED_RUNNER_LABELS) }}
    if: ${{ (vars.ADVANCED_JOBS || github.event.inputs.web == 'true') }}
    steps:
      - uses: numworks/setup-emscripten@latest
        with:
          sdk: 3.1.61
      - uses: actions/checkout@v4
        with:
          token: ${{ secrets.PAT || secrets.GITHUB_TOKEN }}
          submodules: ${{ secrets.PAT != null }}
      - run: build/setup.sh --only-simulator
      - run: make PLATFORM=simulator TARGET=web ASSERTIONS=1 epsilon.html test.js
      - run: node output/debug/optimized/web/test.js --headless --limit-stack-usage
        timeout-minutes: 5
      - uses: actions/upload-artifact@v4
        with:
          name: epsilon.html
          path: output/debug/optimized/web/epsilon.html
          retention-days: 7
  linux:
    runs-on: ${{ fromJSON(vars.EPSILON_CACHED_RUNNER_LABELS) }}
    steps:
      - uses: actions/checkout@v4
        with:
          token: ${{ secrets.PAT || secrets.GITHUB_TOKEN }}
          submodules: ${{ secrets.PAT != null }}

      - name: Build container and define DOCKER_RUN
        uses: ./.github/actions/docker-builder

      # TODO_PCJ: Add ASAN=1 and TIDY=1
      - run: $DOCKER_RUN "make TOOLCHAIN=host-clang PLATFORM=simulator ASSERTIONS=1 epsilon.bin test.bin"
      - run: |
          $DOCKER_RUN "parallel --keep-order output/debug/optimized/linux/test.bin --headless --limgit-stack-usage --number-of-chunks 32 --chunk-id {} ::: \$(seq 0 31)" | tee out
      - uses: actions/upload-artifact@v4
        if: ${{ (${{ vars.ADVANCED_JOBS }}) }}
        with:
          name: epsilon-linux.bin
          path: output/debug/optimized/linux/epsilon.bin
  macos:
    runs-on: macOS-latest
    if: ${{ (vars.ADVANCED_JOBS || github.event.inputs.macos == 'true') }}
    steps:
      - uses: actions/checkout@v4
        with:
          token: ${{ secrets.PAT || secrets.GITHUB_TOKEN }}
          submodules: ${{ secrets.PAT != null }}
      - run: build/setup.sh --only-simulator
      - run: make PLATFORM=simulator ASSERTIONS=1 ARCH=x86_64 test.bin
      - run: output/debug/optimized/macos/x86_64/test.bin --headless --limit-stack-usage
      - run: make PLATFORM=simulator ASSERTIONS=1 epsilon.app
      - uses: actions/upload-artifact@v4
        with:
          name: epsilon-macos.zip
          path: output/debug/optimized/macos/epsilon.app
  ios:
    runs-on: macOS-latest
    if: ${{ (vars.ADVANCED_JOBS || github.event.inputs.ios == 'true') }}
    steps:
      - uses: actions/checkout@v4
        with:
          token: ${{ secrets.PAT || secrets.GITHUB_TOKEN }}
          submodules: ${{ secrets.PAT != null }}
      - run: build/setup.sh --only-simulator
      - run: make PLATFORM=simulator TARGET=ios ASSERTIONS=1 epsilon.ipa
      - run: make PLATFORM=simulator TARGET=ios ASSERTIONS=1 test.ipa
      - run: make PLATFORM=simulator TARGET=ios APPLE_PLATFORM=ios-simulator
      - uses: actions/upload-artifact@v4
        with:
          name: epsilon-ios.ipa
          path: output/debug/optimized/ios/epsilon.ipa
  poincarejs:
    runs-on: ${{ fromJSON(vars.EPSILON_CACHED_RUNNER_LABELS) }}
    steps:
      - uses: numworks/setup-emscripten@latest
        with:
          sdk: 3.1.61
      - uses: actions/checkout@v4
        with:
          token: ${{ secrets.PAT || secrets.GITHUB_TOKEN }}
          submodules: ${{ secrets.PAT != null }}
      - run: build/setup.sh --only-simulator
      # TODO: Change setup-emscripten to be able to use EMIT_TSD=1
      - run: make -j8 -f poincare/poincarejs/Makefile PLATFORM=foxglove ASSERTIONS=1 EMIT_TSD=0 poincare.js.run
    # TODO: This is deactivated because setup-emscripten doesn't install tsc
    #       which is needed to build the typescript file
      # - run: make -f poincare/poincarejs/Makefile
      # - uses: actions/upload-artifact@v4
      #   with:
      #     name: poincarejs.zip
      #     path: output/release/foxglove/poincarejs.zip
      #     retention-days: 7
