name: Code Coverage
on:
  pull_request:
    paths-ignore:
      - '**/*.md'
      - 'poincare/doc/**'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

# TODO: variable for coverage output directory
jobs:
  coverage-base:
    runs-on: ${{ endswith(github.repository, '/epsilon-internal') && 'self-hosted' || 'ubuntu-latest' }}
    steps:
      - name: Checkout base branch
        uses: actions/checkout@v4
        with:
          token: ${{ secrets.PAT || secrets.GITHUB_TOKEN }}
          submodules: ${{ secrets.PAT != null }}
          ref:  ${{ github.event.pull_request.head.sha }} # TODO: common ancestor?
      - name: Install dependencies
        run: build/setup.sh --only-simulator
      - name: Build coverage target
        run: make -j32 TOOLCHAIN=host-gcc PLATFORM=simulator DEBUG=1 ASSERTIONS=1 coverage
      - name: Shorten base commit
        id: base_commit
        run: echo "base_sha=$(git rev-parse --short ${{ github.event.pull_request.head.sha}} )" >> $GITHUB_OUTPUT
      - name: Upload BASE coverage
        uses: actions/upload-artifact@v4
        with:
          name: base.info
          path: output/debug/linux/coverage/code_coverage.info
          retention-days: 7
  coverage-head:
    needs: coverage-base
    runs-on: ${{ endswith(github.repository, '/epsilon-internal') && 'self-hosted' || 'ubuntu-latest' }}
    steps:
      - name: Checkout current branch
        uses: actions/checkout@v4
        with:
          token: ${{ secrets.PAT || secrets.GITHUB_TOKEN }}
          submodules: ${{ secrets.PAT != null }}
          ref:  ${{ github.event.pull_request.head.sha }}
          fetch-depth: 0
      - name: Install dependencies
        run: build/setup.sh --only-simulator
      - name: Build coverage target
        run: make -j32 TOOLCHAIN=host-gcc PLATFORM=simulator DEBUG=1 ASSERTIONS=1 coverage
      - name: Rename head.info
        run: mv output/debug/linux/coverage/code_coverage.info output/debug/linux/coverage/head.info
      - name: Download base info
        uses: actions/download-artifact@v4
        with:
          name: base.info
          path: output/debug/linux/coverage
      - name: Generate diff file
        run: git diff ${{ github.event.pull_request.head.sha }} ${{ github.event.pull_request.base.sha }} > output/debug/linux/coverage/diff.txt
      - name: Generate coverage report
        run: genhtml output/debug/linux/coverage/head.info -o report --baseline-file output/debug/linux/coverage/base.info --diff output/debug/linux/coverage/diff.txt
      # TODO: grep summary at the end of genhtml output?
      - name: Upload report
        uses: actions/upload-artifact@v4
        with:
          name: coverage_report
          path: report
      - name: Head coverage summary
        id: head_summary
        run: lcov --summary output/debug/linux/coverage/head.info >> output/debug/linux/coverage/head_summary.txt
      - name: Base coverage summary
        id: base_summary
        run: lcov --summary output/debug/linux/coverage/base.info >> output/debug/linux/coverage/base_summary.txt
      - name: Shorten HEAD commit
        id: head_commit
        run: echo "head_sha=$(git rev-parse --short ${{ github.event.pull_request.head.sha }} )" >> $GITHUB_OUTPUT
      - name: Shorten base commit
        id: base_commit
        run: echo "base_sha=$(git rev-parse --short ${{ github.event.pull_request.head.sha }} )" >> $GITHUB_OUTPUT
      - name: Add comment
        uses: actions/github-script@v6
        with:
          github-token: ${{secrets.GITHUB_TOKEN}}
          script: |
            var fs = require('fs');
            var head_coverage_summary = fs.readFileSync('output/debug/linux/coverage/head_summary.txt');
            var base_coverage_summary = fs.readFileSync('output/debug/linux/coverage/base_summary.txt');
            var head_commit = "${{ steps.head_commit.outputs.head_sha }}";
            var base_commit = "${{ steps.base_commit.outputs.base_sha }}";
            await github.rest.issues.createComment({
              owner: context.repo.owner,
              repo: context.repo.repo,
              issue_number: context.issue.number,
              body: "### Coverage report \n\n#### HEAD (" + head_commit + ")\n" + head_coverage_summary + "\n\n#### BASE (" + base_commit + ")\n" + base_coverage_summary
            });
