name: Code Coverage
on:
  pull_request:
    paths-ignore:
      - '**/*.md'
      - 'poincare/doc/**'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  coverage:
    runs-on: ${{ endswith(github.repository, '/epsilon-internal') && 'self-hosted' || 'ubuntu-latest' }}
    steps:
      - name: Fetch target branch and PR branch
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Find most recent ancestor of PR and target branch
        id: common_ancestor
        run: echo "commit_sha=$(git merge-base ${{ github.event.pull_request.base.sha }} ${{ github.event.pull_request.head.sha }})" >> $GITHUB_OUTPUT
      - name: Checkout to most recent ancestor
        uses: actions/checkout@v4
        with:
          token: ${{ secrets.PAT || secrets.GITHUB_TOKEN }}
          submodules: ${{ secrets.PAT != null }}
          ref:  ${{ steps.common_ancestor.outputs.commit_sha }}
      - name: Install dependencies
        run: build/setup.sh --only-simulator
      - name: Build BASE coverage target
        run: make -j32 TOOLCHAIN=host-gcc PLATFORM=simulator DEBUG=1 ASSERTIONS=1 coverage
      - name: Rename base.info
        run: mv output/debug/linux/coverage/code_coverage.info output/debug/linux/coverage/base.info
      - name: Upload BASE coverage
        uses: actions/upload-artifact@v4
        with:
          name: base.info
          path: output/debug/linux/coverage/base.info
      - name: Checkout current branch
        uses: actions/checkout@v4
        with:
          token: ${{ secrets.PAT || secrets.GITHUB_TOKEN }}
          submodules: ${{ secrets.PAT != null }}
          ref:  ${{ github.event.pull_request.head.sha }}
      - name: Re-install dependencies
        run: build/setup.sh --only-simulator
      - name: Build HEAD coverage target
        run: make -j32 TOOLCHAIN=host-gcc PLATFORM=simulator DEBUG=1 ASSERTIONS=1 coverage
      - name: Rename head.info
        run: mv output/debug/linux/coverage/code_coverage.info output/debug/linux/coverage/head.info
      - name: Upload HEAD coverage
        uses: actions/upload-artifact@v4
        with:
          name: head.info
          path: output/debug/linux/coverage/head.info
          retention-days: 7
      - name: Download BASE info # needed because the checkout action cleaned the "output" folder
        uses: actions/download-artifact@v4
        with:
          name: base.info
          path: output/debug/linux/coverage
      - name: Generate diff file
        run: /usr/share/lcov/support-scripts/gitdiff ${{ steps.common_ancestor.outputs.commit_sha }} ${{ github.event.pull_request.head.sha }} > diff.txt
      - name: Upload diff file # useful for debug
        id: diff
        uses: actions/upload-artifact@v4
        with:
          name: diff
          path: diff.txt
      - name: Generate coverage report
        run: genhtml output/debug/linux/coverage/head.info -o report --baseline-file output/debug/linux/coverage/base.info --diff diff.txt --elide-path-mismatch | grep "coverage rate:" -A 40 > genhtml_output.txt
      - name: Upload report
        id: report
        uses: actions/upload-artifact@v4
        with:
          name: coverage_report
          path: report

      # TODO: next steps should be in a separate workflow for safety reasons
      - name: Format report into markdown tables
        run: |
          .venv/bin/python3 build/metrics/coverage_report.py genhtml_output.txt --summary > summary.md
          .venv/bin/python3 build/metrics/coverage_report.py genhtml_output.txt --diff > differential.md
      - name: Shorten commit ids
        id: shorten_commits
        run: |
          echo "head_sha=$(git rev-parse --short ${{ github.event.pull_request.head.sha }} )" >> $GITHUB_OUTPUT
          echo "base_sha=$(git rev-parse --short ${{ steps.common_ancestor.outputs.commit_sha }} )" >> $GITHUB_OUTPUT
      - name: Add comment
        uses: actions/github-script@v7
        with:
          github-token: ${{secrets.GITHUB_TOKEN}}
          script: |
            var fs = require('fs');
            var head_commit = "${{ steps.shorten_commits.outputs.head_sha }}";
            var base_commit = "${{ steps.shorten_commits.outputs.base_sha }}";
            var summary = fs.readFileSync('summary.md');
            var differential = fs.readFileSync('differential.md');
            var artifact_url = "${{ github.server_url }}/${{ github.repository }}//actions/runs/${{ github.run_id }}/artifacts/${{ steps.report.outputs.artifact-id }}"
            await github.rest.issues.createComment({
              owner: context.repo.owner,
              repo: context.repo.repo,
              issue_number: context.issue.number,
              body: "### Coverage report (" + head_commit + ")\n\n" + summary + "#### Differences with base branch (" + base_commit + ")\n\n" + differential + "\n\nDownload full report: " + artifact_url
            });
