name: Screenshots
on:
  pull_request:
    paths-ignore:
      - '**/*.md'
      - 'poincare/doc/**'
      - 'ion/src/device/**'
      - 'scandium'
      - 'external_apps/**'

env:
  MAKEFLAGS: ${{ vars.MAKEFLAGS_CACHED }}
  CCACHE_DIR: ${{ vars.CCACHE_DIR }}

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  compare_crc:
    runs-on: ${{ fromJSON(vars.EPSILON_CACHED_RUNNER_LABELS) }}
    steps:
      - name: Checkout PR's merged head
        uses: actions/checkout@v4
      - name: Build container and define DOCKER_RUN
        uses: ./.github/actions/docker-builder
      - name: Build PR head
        run: $DOCKER_RUN "make TOOLCHAIN=host-clang PLATFORM=simulator ASSERTIONS=1 epsilon.bin epsilon.cas.bin"
      - name: Compare crc of screenshots (No CAS)
        timeout-minutes: 15
        run: $DOCKER_RUN "\$PYTHON build/screenshots/compare_crc.py output/debug/optimized/linux/epsilon.bin -n"
      - name: Compare crc of screenshots (CAS)
        timeout-minutes: 15
        run: $DOCKER_RUN "\$PYTHON build/screenshots/compare_crc.py -d tests/screenshots_dataset_cas output/debug/optimized/linux/epsilon.cas.bin -n"
