name: Screenshots
on:
  pull_request:
    paths-ignore:
      - '**/*.md'
      - 'poincare/doc/**'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  compare_crc:
    runs-on: ${{ (github.repository == 'numworks/epsilon-internal') && 'self-hosted' || 'ubuntu-latest' }}
    steps:
      - name: Checkout PR's merged head
        uses: actions/checkout@v3
        with:
          token: ${{ secrets.PAT || secrets.GITHUB_TOKEN }}
          submodules: ${{ secrets.PAT != null }}
      - uses: numworks/setup-llvm@latest
      - run: echo "LD_LIBRARY_PATH=$LLVM_PATH/lib/x86_64-unknown-linux-gnu/" >> $GITHUB_ENV
      - run: build/setup.sh --only-simulator
      - name: Build PR head
        run: make -j32 TOOLCHAIN=host-clang PLATFORM=simulator ASSERTIONS=1 epsilon.bin epsilon.cas.bin
      # - name: Compare screenshot images
      - run: python3 build/screenshots/compare_crc.py -d tests/screenshots_dataset_cas output/release/linux/epsilon.cas.bin
      - run: python3 build/screenshots/compare_crc.py output/release/linux/epsilon.bin
      - name: Upload output
        if: failure()
        uses: actions/upload-artifact@v3
        with:
          name: output_compare_crc
          path: compare_crc_output/
          retention-days: 7
