name: Screenshots
on:
  pull_request:
    paths-ignore:
      - '**/*.md'
      - 'poincare/doc/**'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  compare_crc:
    runs-on: ${{ (github.repository == 'numworks/epsilon-internal') && 'self-hosted' || 'ubuntu-latest' }}
    steps:
      - name: Checkout PR head
        uses: actions/checkout@v3
        with:
          ref: ${{ github.event.pull_request.head.sha }}
      - uses: numworks/setup-llvm@latest
      - run: echo "LD_LIBRARY_PATH=$LLVM_PATH/lib/x86_64-unknown-linux-gnu/" >> $GITHUB_ENV
      - run: build/setup.sh --only-simulator
      - name: Build PR head
        run: make -j32 TOOLCHAIN=host-clang PLATFORM=simulator ASSERTIONS=1 epsilon.bin
      # - name: Compare screenshot images
      # TODO_PCJ: restore all filtered versions and then the unfiltered version
      # - run: python3 build/screenshots/compare_crc.py output/release/simulator/linux/epsilon.bin
      # - run: python3 build/screenshots/compare_crc.py output/release/simulator/linux/epsilon.bin -f calculation
      - run: python3 build/screenshots/compare_crc.py output/release/simulator/linux/epsilon.bin -f distributions
      - run: python3 build/screenshots/compare_crc.py output/release/simulator/linux/epsilon.bin -f elements
      # - run: python3 build/screenshots/compare_crc.py output/release/simulator/linux/epsilon.bin -f exam_mode
      - run: python3 build/screenshots/compare_crc.py output/release/simulator/linux/epsilon.bin -f finance
      # - run: python3 build/screenshots/compare_crc.py output/release/simulator/linux/epsilon.bin -f grapher
      - run: python3 build/screenshots/compare_crc.py output/release/simulator/linux/epsilon.bin -f inference
      - run: python3 build/screenshots/compare_crc.py output/release/simulator/linux/epsilon.bin -f python
      - run: python3 build/screenshots/compare_crc.py output/release/simulator/linux/epsilon.bin -f regression
      - run: python3 build/screenshots/compare_crc.py output/release/simulator/linux/epsilon.bin -f sequences
      # - run: python3 build/screenshots/compare_crc.py output/release/simulator/linux/epsilon.bin -f solver
      - run: python3 build/screenshots/compare_crc.py output/release/simulator/linux/epsilon.bin -f statistics
      - run: python3 build/screenshots/compare_crc.py output/release/simulator/linux/epsilon.bin -f toolbox
      # TODO_PCJ: restore grapher filter
      - run: python3 build/screenshots/compare_crc.py output/release/simulator/linux/epsilon.bin -f grapher_autozoom_6
      - run: python3 build/screenshots/compare_crc.py output/release/simulator/linux/epsilon.bin -f grapher_autozoom_2
      - run: python3 build/screenshots/compare_crc.py output/release/simulator/linux/epsilon.bin -f grapher_autozoom_9
      - run: python3 build/screenshots/compare_crc.py output/release/simulator/linux/epsilon.bin -f grapher_autozoom_forced_x_range
      - run: python3 build/screenshots/compare_crc.py output/release/simulator/linux/epsilon.bin -f grapher_autozoom_trig_intersections
      - run: python3 build/screenshots/compare_crc.py output/release/simulator/linux/epsilon.bin -f grapher_curve_parameters_cartesian
      - run: python3 build/screenshots/compare_crc.py output/release/simulator/linux/epsilon.bin -f grapher_exact_results_symbolic_undefined
      - run: python3 build/screenshots/compare_crc.py output/release/simulator/linux/epsilon.bin -f grapher_edition
      - run: python3 build/screenshots/compare_crc.py output/release/simulator/linux/epsilon.bin -f grapher_display_derivative_banner
      - run: python3 build/screenshots/compare_crc.py output/release/simulator/linux/epsilon.bin -f grapher_derivatives_color
      - run: python3 build/screenshots/compare_crc.py output/release/simulator/linux/epsilon.bin -f grapher_graph_area_cell
      - run: python3 build/screenshots/compare_crc.py output/release/simulator/linux/epsilon.bin -f grapher_labels_no_overlap
      - run: python3 build/screenshots/compare_crc.py output/release/simulator/linux/epsilon.bin -f grapher_no_data
      - run: python3 build/screenshots/compare_crc.py output/release/simulator/linux/epsilon.bin -f grapher_max_pan
      - run: python3 build/screenshots/compare_crc.py output/release/simulator/linux/epsilon.bin -f grapher_polar_grid
      - run: python3 build/screenshots/compare_crc.py output/release/simulator/linux/epsilon.bin -f grapher_polar_in_varbox
      - run: python3 build/screenshots/compare_crc.py output/release/simulator/linux/epsilon.bin -f grapher_single_point
      - run: python3 build/screenshots/compare_crc.py output/release/simulator/linux/epsilon.bin -f grapher_set_domain
      - run: python3 build/screenshots/compare_crc.py output/release/simulator/linux/epsilon.bin -f grapher_values_delete_function
      - run: python3 build/screenshots/compare_crc.py output/release/simulator/linux/epsilon.bin -f grapher_values_function_column_options
      - run: python3 build/screenshots/compare_crc.py output/release/simulator/linux/epsilon.bin -f grapher_values_preface_column_1
      - name: Upload output
        if: failure()
        uses: actions/upload-artifact@v3
        with:
          name: output_compare_crc
          path: compare_crc_output/
          retention-days: 7
