name: Screenshots
on:
  pull_request:
    paths-ignore:
      - '**/*.md'
      - 'poincare/doc/**'

env:
  MAKEFLAGS: ${{ (github.repository == 'numworks/epsilon-internal') && '-j32 CCACHE=1' || '-j2' }}
  CCACHE_DIR: ${{ (github.repository == 'numworks/epsilon-internal') && '/home/usain/_work/ccache' || '' }}

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  compare_crc:
    runs-on: ${{ (github.repository == 'numworks/epsilon-internal') && 'with-cache' || 'ubuntu-latest' }}
    steps:
      - name: Checkout PR's merged head
        uses: actions/checkout@v3
        with:
          token: ${{ secrets.PAT || secrets.GITHUB_TOKEN }}
          submodules: ${{ secrets.PAT != null }}
      - uses: numworks/setup-llvm@latest
      - run: echo "LD_LIBRARY_PATH=$LLVM_PATH/lib/x86_64-unknown-linux-gnu/" >> $GITHUB_ENV
      - run: build/setup.sh --only-simulator
      - name: Build PR head
        run: make TOOLCHAIN=host-clang PLATFORM=simulator ASSERTIONS=1 epsilon.no_conversion.bin epsilon.no_conversion.cas.bin
      - name: Compare crc of screenshots
      - run: python3 build/screenshots/compare_crc.py -d tests/screenshots_dataset_cas output/release/linux/epsilon.no_conversion.cas.bin -n
      - run: python3 build/screenshots/compare_crc.py output/release/linux/epsilon.no_conversion.bin -n