name: Build metrics
# read-only repo token
on:
  pull_request:
    paths-ignore:
      - '**/*.md'
      - 'poincare/doc/**'
      - 'tests/**'
      - 'ion/src/simulator/**'
env:
  MAKEFLAGS: ${{ (github.repository == 'numworks/epsilon-internal') && '-j32 CCACHE=1 PLATFORM=n0120' || '-j2 PLATFORM=n0120' }}
  CCACHE_DIR: ${{ (github.repository == 'numworks/epsilon-internal') && '/home/usain/_work/ccache_docker' || '' }}

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  binary-size:
    runs-on: ${{ (github.repository == 'numworks/epsilon-internal') && 'with-cache' || 'ubuntu-latest' }}
    steps:
      - name: Fetch target branch and PR branch
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Find most recent ancestor of PR and target branch
        id: common_ancestor
        run: echo "commit_sha=$(git merge-base ${{ github.event.pull_request.base.sha }} ${{ github.event.pull_request.head.sha }})" >> $GITHUB_OUTPUT
      - name: Checkout to most recent ancestor
        uses: actions/checkout@v3
        with:
          token: ${{ secrets.PAT || secrets.GITHUB_TOKEN }}
          submodules: ${{ secrets.PAT != null }}
          ref:  ${{ steps.common_ancestor.outputs.commit_sha }}
          path: base

      - name: Build container and define DOCKER_RUN
        uses: ./.github/actions/docker-builder

      - name: Check for epsilon-core
        id: epsilon-core
        run: "[[ -e ion/src/device/epsilon-core/.gitignore ]]"
        continue-on-error: true
      - name: Build common ancestor bootloader and kernel for N0120
        if: ${{ steps.epsilon-core.outcome == 'success' }}
        run: cd base && $DOCKER_RUN "make PYTHON=\$PYTHON bootloader.elf kernel.onboarding.beta.allow3rdparty.A.elf"
      - name: Build common ancestor userland for N0120
        run: cd base && $DOCKER_RUN "make PYTHON=\$PYTHON userland.onboarding.beta.allow3rdparty.A.elf"
      - name: Find head of PR
        uses: actions/checkout@v3
        with:
          token: ${{ secrets.PAT || secrets.GITHUB_TOKEN }}
          submodules: ${{ secrets.PAT != null }}
          ref: ${{ github.event.pull_request.head.sha }}
          path: head

      - name: Build head bootloader and kernel for N0120
        if: ${{ steps.epsilon-core.outcome == 'success' }}
        run: cd head && $DOCKER_RUN "make PYTHON=\$PYTHON bootloader.elf kernel.onboarding.beta.allow3rdparty.A.elf"
      - name: Build head userland for N0120
        run: cd head && $DOCKER_RUN "make PYTHON=\$PYTHON userland.onboarding.beta.allow3rdparty.A.elf"
      - name: Initialize metrics output
        run: |
          mkdir -p ./metrics-output
          echo ${{ github.event.number }} > ./metrics-output/PR_number
      - name: Binary size summary
        if: ${{ steps.epsilon-core.outcome == 'success' }}
        run: echo "$(head/.venv/bin/python3 head/build/metrics/binary_size.py @Base base/output/release/n0120/kernel/kernel.onboarding.beta.allow3rdparty.A.elf base/output/release/n0120/userland.onboarding.beta.allow3rdparty.A.elf @Head head/output/release/n0120/kernel/kernel.onboarding.beta.allow3rdparty.A.elf head/output/release/n0120/userland.onboarding.beta.allow3rdparty.A.elf --sections @Flash .text .rodata .data @RAM .bss .data --summarize)" > ./metrics-output/binary_size_summary
      - name: Binary size summary (userland only)
        if: ${{ steps.epsilon-core.outcome != 'success' }}
        run: echo "$(head/.venv/bin/python3 head/build/metrics/binary_size.py @Base base/output/release/n0120/userland.onboarding.beta.allow3rdparty.A.elf @Head head/output/release/n0120/userland.onboarding.beta.allow3rdparty.A.elf --sections @Flash .text .rodata .data @RAM .bss .data --summarize)" > ./metrics-output/binary_size_summary
      - name: App sizes
        run: echo "$(head/.venv/bin/python3 head/build/metrics/binary_size.py @Base base/output/release/n0120/userland.onboarding.beta.allow3rdparty.A.elf @Head head/output/release/n0120/userland.onboarding.beta.allow3rdparty.A.elf --app-sizes)" > ./metrics-output/app_sizes
      - name: Binary size N0120
        if: ${{ steps.epsilon-core.outcome == 'success' }}
        run: echo "$(head/.venv/bin/python3 head/build/metrics/binary_size.py @Base base/output/release/n0120/bootloader/bootloader.elf base/output/release/n0120/kernel/kernel.onboarding.beta.allow3rdparty.A.elf base/output/release/n0120/userland.onboarding.beta.allow3rdparty.A.elf @Head head/output/release/n0120/bootloader/bootloader.elf head/output/release/n0120/kernel/kernel.onboarding.beta.allow3rdparty.A.elf head/output/release/n0120/userland.onboarding.beta.allow3rdparty.A.elf --sections .text .rodata .bss .data)" > ./metrics-output/binary_size_n0120
      - name: Binary size N0120 (userland only)
        if: ${{ steps.epsilon-core.outcome != 'success' }}
        run: echo "$(head/.venv/bin/python3 head/build/metrics/binary_size.py @Base base/output/release/n0120/userland.onboarding.beta.allow3rdparty.A.elf @Head head/output/release/n0120/userland.onboarding.beta.allow3rdparty.A.elf --sections .text .rodata .bss .data)" > ./metrics-output/binary_size_n0120
      - name: Upload metrics output
        uses: actions/upload-artifact@v4
        with:
          name: metrics-output
          path: metrics-output/
          retention-days: 7
