name: CI Poincare update
on:
  pull_request:
    paths-ignore:
      - '**/*.md'
      - 'poincare/doc/**'
      - 'tests/**'
      - 'ion/src/device/**'
      - 'scandium'
      - 'external_apps/**'

env:
  MAKEFLAGS: ${{ vars.MAKEFLAGS_CACHED }}

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  linux:
    runs-on: ${{ fromJSON(vars.EPSILON_CACHED_RUNNER_LABELS) }}
    steps:
      - name: Fetch PR branch
        uses: actions/checkout@v4
        with:
          fetch-depth: 200

      - name: Fetch target branch
        run: git fetch --depth=200 origin ${{ github.event.pull_request.base.sha }}
      - name: Find most recent ancestor of PR and target branch
        id: common_ancestor
        run: echo "commit_sha=$(git merge-base ${{ github.event.pull_request.base.sha }} ${{ github.event.pull_request.head.sha }})" >> $GITHUB_OUTPUT

      - name: Checkout to head
        run: git checkout ${{ github.event.pull_request.head.sha }}

      - name: Build container and define DOCKER_RUN
        uses: ./.github/actions/docker-builder

      - name: Make head
        run: $DOCKER_RUN "make PLATFORM=simulator ASSERTIONS=1 test.bin"
      - name: Run head
        shell: bash
        run: |
          $DOCKER_RUN "parallel --halt soon,fail=1 --retries 1 --keep-order output/debug/optimized/linux/test.bin --headless --limit-stack-usage --number-of-chunks 32 --chunk-id {} ::: \$(seq 0 31)" | tee out

      - name: Filter output
        run: cat out | grep "^\\(CRASH\\|BAD\\|OK\\)" | tee head.csv

      - name: Cleanup output folder
        run: rm -r output

      - name: Checkout to most recent ancestor
        run: git checkout ${{ steps.common_ancestor.outputs.commit_sha }}

      - name: Make ancestor
        run: $DOCKER_RUN "make PLATFORM=simulator ASSERTIONS=1 test.bin"
      - name: Run ancestor
        shell: bash
        run: |
          $DOCKER_RUN "parallel --halt soon,fail=1 --retries 1 --keep-order output/debug/optimized/linux/test.bin --headless --limit-stack-usage --number-of-chunks 32 --chunk-id {} ::: \$(seq 0 31)" | grep "^\\(CRASH\\|BAD\\|OK\\)" | tee ancestor.csv

      - name: Compare logs
        id: compare_logs
        run: python3 poincare/test/compare.py --markdown ancestor.csv head.csv > comment.md
      - name: Add comment
        uses: actions/github-script@v6
        with:
          github-token: ${{secrets.GITHUB_TOKEN}}
          script: |
            var fs = require('fs');
            var comment = fs.readFileSync('./comment.md').toString().trim();

            const body = "### Poincare tests\n\n" + comment
            const pr_number = context.issue.number

            const owner = context.repo.owner;
            const repo = context.repo.repo;

            const oldComments = await github.paginate(
              github.rest.issues.listComments,
              {
                owner, repo,
                issue_number: pr_number,
              }
            );

            const commentToUpdate = oldComments.findLast(comment =>
              comment.user.login === 'github-actions[bot]' && comment.body.startsWith(body.slice(0,10))
            )

            if (commentToUpdate) {
              await github.rest.issues.updateComment({
                owner, repo, body,
                comment_id: commentToUpdate.id,
              });
            } else {
              await github.rest.issues.createComment({
                owner, repo, body,
                issue_number: pr_number,
              });
            }

      - name: Check for failures
        run: "! grep --silent broken comment.md"
