name: CI Poincare update
on:
  pull_request:
    paths-ignore:
      - '**/*.md'
      - 'poincare/doc/**'
      - 'tests/**'

env:
  MAKEFLAGS: ${{ (github.repository == 'numworks/epsilon-internal') && '-j32 CCACHE=1' || '-j2' }}
  CCACHE_DIR: ${{ (github.repository == 'numworks/epsilon-internal') && '/home/usain/_work/ccache' || '' }}

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  linux:
    runs-on: ${{ (github.repository == 'numworks/epsilon-internal') && 'with-cache' || 'ubuntu-latest' }}
    steps:
      - uses: numworks/setup-llvm@latest
      - run: echo "LD_LIBRARY_PATH=$LLVM_PATH/lib/x86_64-unknown-linux-gnu/" >> $GITHUB_ENV
      - name: Fetch PR branch
        uses: actions/checkout@v3
        with:
          fetch-depth: 100
          ref: ${{ github.event.pull_request.head.sha }}
          token: ${{ secrets.PAT || secrets.GITHUB_TOKEN }}
          submodules: ${{ secrets.PAT != null }}
      - name: Fetch target branch
        run: git fetch --depth=100 origin ${{ github.event.pull_request.base.sha }}
      - name: Find most recent ancestor of PR and target branch
        id: common_ancestor
        run: echo "commit_sha=$(git merge-base ${{ github.event.pull_request.base.sha }} ${{ github.event.pull_request.head.sha }})" >> $GITHUB_OUTPUT

      - name: Checkout to head
        run: git checkout ${{ github.event.pull_request.head.sha }}
      - name: Install dependencies
        run: build/setup.sh --only-simulator
      - name: Make head
        run: make TOOLCHAIN=host-clang PLATFORM=simulator ASSERTIONS=1 test.bin
      - name: Verify that a single make is sufficient
        run: make TOOLCHAIN=host-clang PLATFORM=simulator ASSERTIONS=1 output/debug/optimized/linux/test.bin --question
      - name: Run head
        shell: bash
        run: output/debug/optimized/linux/test.bin --headless --limit-stack-usage -f poincare | tee out
      - name: Filter output
        run: cat out | grep "^\\(CRASH\\|BAD\\|OK\\)" | tee head.csv

      - name: Checkout to most recent ancestor
        run: git checkout ${{ steps.common_ancestor.outputs.commit_sha }}
      - name: Make ancestor
        run: make TOOLCHAIN=host-clang PLATFORM=simulator ASSERTIONS=1 test.bin
      - name: Run ancestor
        shell: bash
        run: output/debug/optimized/linux/test.bin --headless --limit-stack-usage -f poincare | grep "^\\(CRASH\\|BAD\\|OK\\)" | tee ancestor.csv

      - name: Compare logs
        id: compare_logs
        run: python3 poincare/test/compare.py --markdown ancestor.csv head.csv > comment.md
      - name: Add comment
        uses: actions/github-script@v6
        with:
          github-token: ${{secrets.GITHUB_TOKEN}}
          script: |
            var fs = require('fs');
            var comment = fs.readFileSync('./comment.md').toString().trim();

            const body = "### Poincare tests\n\n" + comment
            const pr_number = context.issue.number

            const owner = context.repo.owner;
            const repo = context.repo.repo;

            const oldComments = await github.paginate(
              github.rest.issues.listComments,
              {
                owner, repo,
                issue_number: pr_number,
              }
            );

            const commentToUpdate = oldComments.findLast(comment =>
              comment.user.login === 'github-actions[bot]' && comment.body.startsWith(body.slice(0,10))
            )

            if (commentToUpdate) {
              await github.rest.issues.updateComment({
                owner, repo, body,
                comment_id: commentToUpdate.id,
              });
            } else {
              await github.rest.issues.createComment({
                owner, repo, body,
                issue_number: pr_number,
              });
            }

      - name: Check for failures
        run: "! grep --silent broken comment.md"
