name: CI Poincare junior
on:
  pull_request:
    paths-ignore:
      - '**/*.md'
      - 'poincare/doc/**'
      - 'tests/**'

env:
  MAKEFLAGS: ${{ endswith(github.repository, '/epsilon-internal') && '-j32' || '-j2' }}

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  linux:
    runs-on: ${{ endswith(github.repository, '/epsilon-internal') && 'self-hosted' || 'ubuntu-latest' }}
    steps:
      - uses: numworks/setup-llvm@latest
      - run: echo "LD_LIBRARY_PATH=$LLVM_PATH/lib/x86_64-unknown-linux-gnu/" >> $GITHUB_ENV
      - uses: actions/checkout@v3
        with:
          token: ${{ secrets.PAT || secrets.GITHUB_TOKEN }}
          submodules: ${{ secrets.PAT != null }}
      - run: build/setup.sh --only-simulator
      # TODO_PCJ: Add ASAN=1 and TIDY=1
      - run: make TOOLCHAIN=host-clang PLATFORM=simulator ASSERTIONS=1 epsilon.bin test.bin
      # TODO_PCJ: Uncomment all filters, delete this workflow and re-activate ci.yml once they all run.
      # - run: output/release/linux/test.bin --headless --limit-stack-usage -f calculation
      # - run: output/release/linux/test.bin --headless --limit-stack-usage -f code
      - run: output/release/linux/test.bin --headless --limit-stack-usage -f distributions
      # - run: output/release/linux/test.bin --headless --limit-stack-usage -f escher
      - run: output/release/linux/test.bin --headless --limit-stack-usage -f finance
      - run: output/release/linux/test.bin --headless --limit-stack-usage -f graph
      - run: output/release/linux/test.bin --headless --limit-stack-usage -f ion
      - run: output/release/linux/test.bin --headless --limit-stack-usage -f kandinsky
      - run: output/release/linux/test.bin --headless --limit-stack-usage -f liba
      - run: output/release/linux/test.bin --headless --limit-stack-usage -f omg
      - run: output/release/linux/test.bin --headless --limit-stack-usage -f pcj
      - run: output/release/linux/test.bin --headless --limit-stack-usage -f poincare
      - run: output/release/linux/test.bin --headless --limit-stack-usage -f probability
      - run: output/release/linux/test.bin --headless --limit-stack-usage -f python
      - run: output/release/linux/test.bin --headless --limit-stack-usage -f regression
      - run: output/release/linux/test.bin --headless --limit-stack-usage -f sequence
      - run: output/release/linux/test.bin --headless --limit-stack-usage -f shared
      # - run: output/release/linux/test.bin --headless --limit-stack-usage -f solver
      - run: output/release/linux/test.bin --headless --limit-stack-usage -f statistics
  poincarejs:
    runs-on: ${{ (github.repository == 'numworks/epsilon-internal') && 'self-hosted' || 'ubuntu-latest' }}
    steps:
      - uses: numworks/setup-emscripten@latest
        with:
          sdk: 3.1.61
      - uses: actions/checkout@v3
        with:
          token: ${{ secrets.PAT || secrets.GITHUB_TOKEN }}
          submodules: ${{ secrets.PAT != null }}
      - run: build/setup.sh --only-simulator
      # TODO: Change setup-emscripten to be able to use EMIT_TSD=1
      - run: make -j8 -f poincare/Makefile PLATFORM=foxglove EMIT_TSD=0 poincare.js.run
