name: CI Poincare junior
on:
  pull_request:
    paths-ignore:
      - 'poincare-junior/doc/**'

env:
  MAKEFLAGS: ${{ endswith(github.repository, '/epsilon-internal') && '-j32' || '-j2' }} ${{ (github.job == 'device') && 'EMBED_EXTRA_DATA=1' }}

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  linux:
    runs-on: ${{ endswith(github.repository, '/epsilon-internal') && 'self-hosted' || 'ubuntu-latest' }}
    steps:
      - uses: numworks/setup-llvm@latest
      - run: LD_LIBRARY_PATH=$LLVM_PATH/lib/x86_64-unknown
      - run: set -o pipefail # Commands should fail if one of its parts fail
      - name: Fetch PR branch
        uses: actions/checkout@v3
        with:
          fetch-depth: 100
          ref: ${{ github.event.pull_request.head.sha }}
      - name: Fetch target branch
        run: git fetch --depth=100 origin ${{ github.event.pull_request.base.sha }}
      - name: Find most recent ancestor of PR and target branch
        id: common_ancestor
        run: echo "commit_sha=$(git merge-base ${{ github.event.pull_request.base.sha }} ${{ github.event.pull_request.head.sha }})" >> $GITHUB_OUTPUT
      - name: Checkout to most recent ancestor
        run: git checkout ${{ steps.common_ancestor.outputs.commit_sha }}
      - name: Install dependencies
        run: build/setup.sh --only-simulator
      - name: Make ancestor
        run: make TOOLCHAIN=host-clang PLATFORM=simulator ASSERTIONS=1 test.bin
      - name: Run ancestor
        run: output/release/simulator/linux/test.bin --headless --limit-stack-usage | grep "^\\(CRASH\\|BAD\\|OK\\)" | tee ancestor.csv
      - name: Checkout to head
        run: git checkout ${{ github.event.pull_request.head.sha }}
      - name: Make head
        run: make TOOLCHAIN=host-clang PLATFORM=simulator ASSERTIONS=1 test.bin
      - name: Verify that a single make is sufficient
        run: make TOOLCHAIN=host-clang PLATFORM=simulator ASSERTIONS=1 test.bin --question
      - name: Run head
        run: output/release/simulator/linux/test.bin --headless --limit-stack-usage | tee out
      - name: Filter output
        run: cat out | grep "^\\(CRASH\\|BAD\\|OK\\)" | tee head.csv
      - name: Compare logs
        id: compare_logs
        run: python3 poincare/test/compare.py --markdown ancestor.csv head.csv > comment.md
      - name: Add comment
        uses: actions/github-script@v6
        with:
          github-token: ${{secrets.GITHUB_TOKEN}}
          script: |
            var fs = require('fs');
            var comment = fs.readFileSync('./comment.md').toString().trim();
            if (comment) {
              await github.rest.issues.createComment({
                owner: context.repo.owner,
                repo: context.repo.repo,
                issue_number: context.issue.number,
                body: "### Poincare tests\n\n" + comment
              });
            }
      - name: Check for failures
        run: "! grep --silent broken comment.md"
      - name: Upload logs
        uses: actions/upload-artifact@v3
        if: always()
        with:
          name: test_results.zip
          path: |
            ancestor.csv
            head.csv
          retention-days: 7
